@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
   
}
img{
max-width: 100%;
vertical-align: middle;
}

ul{
    list-style: none;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 25px;
    font-weight: 600;
    text-transform: capitalize;
}
.container{
    width:1170px;
    margin: 0 auto;
}

.pt-80{
    padding-top: 80px;
}

.pb-80{
    padding-bottom: 80px;
}


 /* Header Area */ 

 .header-area {}

.head {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 20px 0;
    padding: 13px 16px;
    align-items: center;

}
.logo {
    flex-basis: 100px;
}
.logo a {
    font-size: 30px;
    text-transform: uppercase;
    color: #343f52;
    font-weight: 600;
}
.menu{
    flex-basis: 590px;
}
.menu ul {
    display: flex;
    flex-flow: row wrap;
    margin: 0 0;
}
.menu ul li {
    padding-left: 20px;
}
.menu ul li a {
    text-transform: capitalize;
    color: #343f52;
    font-size: 18px;
    font-weight: 600;
    transition: .6s;
}
.menu ul li a:hover{
    color: #3f78e0;
}


/* Banner Area */

.banner-area {
    background-size: cover;
    background-position: center;
    height: 550px;
    position: relative;
    opacity: 0.9;
}
.img {
    flex-basis: 435px;
}
.img img {
    width: 100%;
}
.banner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 90px 0 0 0;
    margin: 0 10px;
    
}
.banner-info {
    flex-basis: 650px;
}

.banner-info h2 {
    font-size: 30px;
    text-transform: uppercase;
    color:#ffff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.banner-info p {
    font-size: 20px;
    line-height: 28px;
    padding-top: 15px;
    color: #ffff;
    font-family: inherit;
    padding-bottom: 25px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner-info a{
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    font-weight: 700;
   
}
.btn{
    border: 2px solid transparent;
    background-color: #E9204F;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}



/* Skill Area */
.service-area{}

.section-info h4 {
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        margin-top: 50px;
        margin-bottom: 10px;
        letter-spacing: 1px;
        color:#E9204F;
      
}
.section-info p{
    text-align: center;
    color:#343f52;
    font-family: serif;
    letter-spacing: 1px;
    margin-bottom: 30px;
    font-size: 30px;
   line-height: 35px;

}
.services {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
.single-service {
    flex-basis: 350px;
    text-align: center;
    padding: 20px;
    margin:30px 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   
}


.single-service h3 {
    text-transform: capitalize;
    color:#343f52;
    font-size: 18px;
    margin: 20px 0;
  }

.single-service p {
    margin-top: 10px;
    font-size: 16px;
    color:#60697b;
}

/* Project Area */

.project-area{}

.project-info {
   
    margin-top: -50px;
}
.project-info h4{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 215px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    color:#E9204F;
  
}
.project-info p{
     text-align: center;
     color:#343f52;
     font-family: serif;
     letter-spacing: 1px;
     margin-bottom: 30px;
     font-size: 30px;
     line-height: 35px;

}
.projects {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin: 38px 40px;
}
.single-project{
    flex-basis: 330px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 30px 40px 0 rgb(1 11 60 / 6%);
    background-color: #fff;
    margin: 20px 10px;
   
}

.single-project img {
    transition: transform .2s;
    vertical-align: middle;
}

.single-project h4{
    padding-top: 15px;
    color: #343f52;
}

.single-project:hover img{
    transform: scale(1.1);
}

.single-project a{
    color: #E9204F;
}

/* Contact Area */
.contact-area {}

.contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 35px 10px;
}
.contact-img {
    flex-basis: 400px;
}
.contact-img img{
    width: 100%;
}
.contact-content {
    flex-basis: 620px;
}
.contact-content h4{
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    color:#E9204F;

}
.contact-content h3{
    color:#343f52;
    font-family: serif;
    letter-spacing: 1px;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 35px;
}

.single-contact h5{
     font-size: 18px;
     color: #343f52;
     margin-left: 10px;
}
.single-contact i{
    color: #605dba;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 15px;
}
.single-contact address{
    padding-left: 55px;
    font-style: inherit;
    font-family: math;
    padding-bottom: 15px;
    color: #60697b;

}
.single-contact p{
    padding-left: 55px;
    font-family: math;
    color: #60697b;
    padding-bottom: 15px;
}

.single-contact a{
    padding-left: 55px;
    font-family: math;
    color: #60697b;
}

.socialLink h4 {
    font-size: 20px;

}
.socialLink a i {
    font-size: 25px;
    margin-top: 20px;
    color: black;
}

.socialLink a h5 {
    font-size: 15px;
}


/*  Footer CSS */

.footer-area {
    background-color:#343f52;
    padding: 20px;
    border-top: 1px solid #343f52;
}
    
.footer p {
    font-size: 14px;
    color: #fff;
    margin-bottom: 0;
    text-align: center;
}




